* {
	margin:0px;
	padding:0px;
}
#mo div{
	text-align:center;
	padding-top:0px;
	min-height:100%;
}
#mo table{
	margin: auto;
	width:100%;
	border-collapse:collapse;
	border:none;
}

#mo table tr {
	height:25px;
}

#mo table tr td {
	border:solid#FFF 2px;
	font-size:12px;
}

#center{
	text-align:center;
}

.tr_1 {
	background-color:#EBEBEB;
}
.tr_2 {
	background-color:#D3EDE9;
}

.tr_3 {
	background-color:#999;
}
#firstline{
	background-color:#66FF99;
}
a:link,a:visited{
	text-decoration:none;
	color:blue;
}
option,input{
	height:25px;
}
input{

}

a.button {
    background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 