* {
	margin:0px;
	padding:0px;
}
body{
	
}

.query_form_table{
	width:100%;
	border-collapse:collapse; 
	border-top:solid 1px #666;
	border-bottom:solid 1px #666;
}
.query_form_table th{
	font-size:12px;
	font-weight:normal;
	border-bottom:solid 1px #8c8c8c;
	background-color:#6EC2FD;
	font-weight:400;
	font-size:13px;
	color:#000;
	height:30px;
	width:12%;
}
.query_form_table td{
	background-color:#eeeeff;
	border-bottom:solid 1px #8c8c8c;
	border-left:solid 1px #fff;
	width:21%;
}
.hostinfo{
	font-size:12px;
	background:ff00;
	float:right;
	width:100%;
	position: relative ;

}
.hostinfo table{
	border-color:#DDDDDD;
	border-collapse:collapse;
	}
.hostinfo table tr{
	font-size:12px;
	border: solid 1px #666;
}

.hostinfo table tr td{
	background-color:#F3F3F3;
	padding:0px 8px 0px 8px;
	height:27px;
	white-space:nowrap;
	overflow:hidden;
}

.hostinfo table tr td div{	
	vertical-align:middle;
	height:25px;
	overflow:hidden
	white-space:nowrap;
}

#inputtype{
	width:180px;
	height:23px;
	vertical-align:middle;
}

#tdbg {
	background-color:#6EC2FD;
	height:25px;
	line-height:23px;
	border: solid 1px #666;
	width:20%;
}



.jifang {
	background:url(../images/left_bg.gif) 0 0;
	float:left;
	width:13%;
	min-height:1000px;
}

#pageContent{
	min-height:1000px;
	max-height:1800px;
	overflow:auto; 
}

.but {
	height:20px;
	width:20px;
	float:left;
	line-height:20px;
	margin-bottom: 5px;
	text-align:center;
	vertical-align:middle;
}
.list{
	margin:10px;
	display:block;
	text-align:center;
	text-align:left;
	font-size:14px;
	height:24px;
	vertical-align:middle;
	}
.jg p{
	text-indent:20px;
	margin-top:15px;
	font-size:12px;
	text-indent:50px;
	}

.jg p a{
	text-decoration:none;
	color:#FFFFFF;
	}
	
.list a:link,.list a:visited{
	display:block;
	text-decoration:none;
	color:#FFF;
	}
.list a:hover{
	color:#000;
	}

.jg a:link,.jg a:visited{
	display:block;
	text-decoration:none;
	color:#FFF;
	}
.jg a:hover{
	color:#000;
	}

.indextop{
	background-image:url(../images/top_table_leftbg.gif);
	float:left;
	width:100%;
	height:80px;
	margin-top:1px;
	font-size:12px;
	}
.content{
	background:ff00;
	width:100%;
	}
.content1{
	background:ff00;
	width:87%;
	float:right;
	}
.count{
	background:#E6E6FA;
	float:left;
	width:87%;
	height:150px;;
	font-size:12px;
	border-collapse: collapse;
	}
.count table tr td{
	font-size:13px;
	text-align: left;
	width:80px;
	}
.count a:link,.count a:visited{
	display:block;
	text-decoration:none;
	color:#000;
	}
.count a:hover{
	color:#0033FF;
	}
	
.count table{
	text-align:left;
	height:100%;
	width:100%;
	float:left;
	}	
	

#show {
	background:	#fff;
	width:100%;
	height:40px;
	font-size:13px;
	}
#conttable {
	width:100%;
	text-align:center;
	color:#444;
	font-size:12px;
}
#conttable a:link, a:visited{
	text-decoration:none;
	color:#057AFC;
	}


#conttable a:hover{
	color:blue;
}

#conttable tr{
	height:23px;
}
#td{
	font-size:12px;
}
.tr_1 {
	background-color:#EBEBEB;
}
.tr_2 {
	background-color:#D3EDE9;
}

.tr_3 {
	background-color:#999;
}


#firstline{
	background-color:#66FF99;
}

#page {
	float:right;
	margin-top:10px;
	}


.form{
 vertical-align:middle;
 margin:30px;
 float:right;
}
.form select{
	width:80px;height:23px;text-align:center;
	vertical-align:middle;
}

.login{
float:right;
margin:27px 80px;
}
.login a:link,.login a:visited{
	text-decoration:none;
	}
	
.log a:link,.login a:visited{
	text-decoration:none;
	color:blue;
	}
	
.title{
	text-align:center;
	margin-top:20px;
	}

.style2{
	width: 180px;
	height: 230px;
	border: 1px solid #96C2F1;
	background-color: #EFF7FF;
	display: none;
	font-size:14px;
	overflow-y:scroll;
	position: absolute ;
	text-decoration: none;
	z-index:100;
	text-align:left;
}
.style2 a:hover span{
	cursor:hand;
}
.vir_list{
	margin-top:10px;
	font-size:12px;
	background:ff00;
	text-align: center;
}
.vir_list tr{
	height:23px;
}